---
import SocialLinks from '@/sections/controls/components/social-links.astro';
import LanguageToggle from '@/sections/controls/components/language-toogle.astro';
import ThemeToggle from '@/sections/controls/components/theme-toogle.jsx';

const { links } = Astro.props;
const { lang } = Astro.props;
---

<div class='flex justify-between items-center mb-8'>
  <SocialLinks links={links} />
  <div class='flex items-center gap-2'>
    <LanguageToggle lang={lang}/>
    <div class='w-px h-4 bg-gray-300 dark:bg-gray-600'></div>
    <ThemeToggle client:idle />
  </div>
</div>
