//
// Icons
//

// Styling for the development technology icons
.dev-icons {
  font-size: 3rem;
}

.dev-icon {
  width: 4rem;
}

.dev-icon:hover {
  background-color: var(--bs-gray-800);
}

[data-bs-theme="light"] .dev-icon:hover {
  background-color: var(--bs-gray-200);
}



@media screen and (max-width: 575.98px) {
  .dev-icon {
    width: 3rem;
  }
}
