// 
// Colors
// 

// Custom Vars

$base-color: #1E1E1E;
$text-color: #EFEFEF;
$title-color: #8D54FC;
$icon-bg-color: $title-color;
$icon-bg-color-hover: #5500ff;
$separation-lines-color: #5a5b5b;


// Override Bootstrap default state colors


