// 
// Colors
// 

// Custom Vars

$main-colour: #276E90;
$first-colour: #CECFC9;
$darkness-colour: #0A3143;
$light-colour: #EFEFEF;


// Override Bootstrap default state colors

$primary: $main-colour;
$body-bg: $light-colour;


