<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '../templates/metadata.njk' %}
        <title>{{ title }}</title>
    </head>
    <body>
        {% include '../templates/body.njk' %}
    </body>
</html>