---
const currentPathName = Astro.url.pathname;

const isPathActive = (currentPathName, pathname) =>
  currentPathName === pathname;
const getLinkClasses = (currentPathName, pathname) =>
  `lang__link ${isPathActive(currentPathName, pathname) ? 'lang__link--is-active' : ''}`;
---

<div>
  <div>
    <a href='/' class:list={getLinkClasses(currentPathName, '/')}>ES</a>
    <span>|</span>
    <a href='/en' class:list={getLinkClasses(currentPathName, '/en')}>EN</a>
  </div>
</div>

