---
const { classes } = Astro.props;
const currentPathName = Astro.url.pathname;

const isPathActive = (currentPathName, pathname) =>
  currentPathName === pathname;
const getLinkClasses = (currentPathName, pathname) =>
  `lang__link ${isPathActive(currentPathName, pathname) ? 'lang__link--is-active' : ''}`;
---

<div class:list={classes}>
  <div>
    <a href='/' class:list={getLinkClasses(currentPathName, '/')}>ES</a>
    <span>|</span>
    <a href='/en' class:list={getLinkClasses(currentPathName, '/en')}>EN</a>
  </div>
</div>

<style>
  .lang__link {
    color: var(--bs-gray-600);
    text-decoration: none;
  }

  .lang__link:hover {
    color: var(--bs-white);
  }

  .lang__link--is-active {
    color: var(--bs-white);
  }
</style>
