---
const { study } = Astro.props
const { name, institution, startDate, finishDate } = study
---

<div class='d-flex flex-column flex-md-row justify-content-between mb-5'>
  <div class='flex-grow-1'>
    <h3 class='mb-0'>{name}</h3>
    <div class='subheading mb-3'>{institution.name}</div>
    <p>{institution.description ? institution.description : null}</p>
  </div>
  <div class='flex-shrink-0'>
    <span class="text">{startDate}
      {finishDate ? ` - ${finishDate}` : null}</span
    >
  </div>
</div>
