---
import Job from '@/sections/jobs/components/job.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { title, jobs } = Astro.props;
---

<section class='mb-16'>
  <h2 class='text-lg font-medium text-gray-900 dark:text-white mb-8'>
    {title}
  </h2>

  <div class='space-y-12'>
    {jobs.map((job) => <Job job={job} />)}
  </div>
</section>
