---
const { title, description } = Astro.props;
---

<section class='mb-16'>
  <h2 class='text-lg font-medium text-gray-900 dark:text-white mb-4'>
    {title}
  </h2>
  <p class='text-gray-600 dark:text-gray-300 leading-relaxed'>
    {description}
  </p>
</section>
