{% set sectionId= "education" %}
{% extends '../../templates/section.njk' %}
{% block content %}
        <h2 class="mb-5">{{ site.education.title }}</h2>
        {% for item in site.education.degrees %}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">{{item.degree}} </h3>
                    <div class="subheading mb-3">{{item.entity}}</div>
                </div>
                <div class="flex-shrink-0">
                    <span class="text-primary">{{item.date}}</span>
                </div>
            </div>
        {% endfor %}
{% endblock %}

