{% set sectionId= "experience" %}
{% extends '../../templates/section.njk' %}
{% block content %}
        <h2 class="mb-5">{{site.experience.title}}</h2>
        {% for item in site.experience.experiences %}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{item.degree}}</h3>
                <div class="subheading mb-3">{{item.entity}}</div>
                <p>{{item.description}}</p>
            </div>
            <div class="flex-shrink-0">
                <span class="dates">{{item.time}}</span>
            </div>
        </div>
        {% endfor %}
{% endblock %}


