{% set sectionId= "skills" %}
{% extends '../../templates/section.njk' %}
{% block content %}
    <h2 class="mb-5">{{ site.skill.title }}</h2>
    <div class="subheading mb-3">{{ site.skill.hardSkillsTitle }}</div>
    <ul class="list-inline dev-icons">
        {% for item in site.skill.hardSkills %}
            <li class="list-inline-item">
                <i class="fab {{ item.iconClass }}"></i>
            </li>
        {% endfor %}
    </ul>
    <div class="subheading mb-3">{{ site.skill.softSkillsTitle }}</div>
    <ul class="fa-ul mb-0">
        {% for item in site.skill.softSkills %}
            <li>
                <span class="fa-li">
                    <i class="fas fa-check"></i>
                </span>
                {{ item.description }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}