---
const { class: className = '', ...rest } = Astro.props;
const classes = ['flex items-center p-6 pt-0', className].filter(Boolean).join(' ');
---

<div class={classes} {...rest}>
  <slot />
</div>
