---
import Navbar from '../components/navbar/navbar.astro';

const { title, avatar } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id='page-top' data-bs-theme="dark">
    <Navbar avatarUrl={avatar.link} avatarAlt={avatar.alt} />
    <div class='container-fluid p-0' class='bg-primary'>
      <slot />
    </div>
  </body>
</html>
