//
// Variables
//


// Override Bootstrap typography variables

$font-family-base: "IBM Plex Mono", Arial, Sans-serif;

$headings-font-family: "Chakra Petch", Arial, Sans-serif;

$headings-font-weight: 700;

$headings-color: $gray-800;

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
